html, body {
	padding: 0;
	margin: 0;
}

body {
	background-color: #ddddcc;
}

button {
	margin: 0.25em;
	padding: 0.4em;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.07);
}
button:disabled {
	cursor: not-allowed;
}

dt, dd {
	display: inline-block;
}
dt {
	min-width: 6em;
}
dd {
	margin: 0 0 0 1em;
	min-width: 5em;
	text-align: right;
}

section {
	padding: 1em;
	border-bottom: solid 1px rgba(0,0,0,0.1);
}

footer {
	font-size: 80%;
	opacity: 0.8;
	padding: 1em;
	text-align: center;
}

main {
	display: flex;
	padding: 0;
	margin: 0 auto;
	max-width: 1200px;
}
article {
	flex-grow: 1;
	width: 50%;
	min-height: 40em;
	border-left: solid 1px rgba(0,0,0,0.1);
	background-color: #eeeedd;
	margin: 0;
}
main > article:first-child {
	border-left: 0;
}
article > header {
	min-height: 1em;
	width: 100%;
	/* background: rgba(0,0,0, 0.05); */
}
article > header h1 {
	margin: 0.2em 1em;
}

.nothing {
	border: dashed 1px rgba(0,0,0,0.3);
	padding: 1em;
	color: rgba(0,0,0,0.4);
}

.locked {
	opacity: 0;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	transition-timing-function: ease-in-out;
	transition: all 0.5s, opacity 3s;
	transform: scale(0);
}
.unlocked {
	opacity: 1;
	transform: scale(1);
	transition-timing-function: ease-in-out;
	transition: all 0.5s, opacity 3s;
}

.actions {
	user-select: none;
}
.actions button:focus {
	border: solid 3px #4499ff;
	box-shadow: none;
}
.actions button:active {
	border: solid 3px #99ffff;
}

.edit:hover {
	color: #44aaaa;
	cursor: help;
}

.upgrade button {
	min-width: 13em;
}
